{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block NewAnnonce %}
<div style="margin: 100px 20px; border: 1px solid black; border-radius: 20px">
    <h2>Annonce Details</h2>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ annonce.username }}</td>
                <td>{{ annonce.montant }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.datetime|date('Y-m-d H:i') }}</td>
            </tr>
        </tbody>
    </table>
   <button type="button" class="btn btn-primary"><a href="{{ path('app_annonce_index') }}">Back to list</a></button>
    <button type="button" class="btn btn-primary"><a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Edit</a></button>
    {{ include('annonce/_delete_form.html.twig', { id: annonce.id }) }}
</div>


    {% endblock %}
        
{% block footer %}
  
{% endblock %}

{% block section %}
  
{% endblock %}
